.body {
    margin: 0;
    overflow: hidden;

}

.branches-info {
    position: absolute;
    overflow: visible;
    gap: 400px;
    color: white;
    margin-left: 720px;
    margin-top: 370px;
    border: white solid 1.5px;
    width: 400px;
    height: 400px;
    text-align: left;
    font-size: 170%;
    padding-left: 5px;
    padding: 50px;
    line-height: 1.5;
    font-family: Dom;


}

.branches {
    position: absolute;
    overflow: visible;
    color: white;
    gap: 400px;
    margin-top: 370px;
    margin-left: 1300px;
    border: white solid 1.5px;
    font-size: 170%;
    width: 450px;
    height: 500px;
    line-height: 1.7;
    padding-left: 30px;
    padding: 50px;

    font-family: Dom;
    text-align: left;
}

.logo-contacts {
    position: absolute;
    overflow: visible;
    width: 300px;
    margin-left: 0;
    padding-top: 20px;

}

.branches-main {

    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/home\ one.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 1180px;
    ;
    width: 100%;
    color: white;
    text-align: center;




}

.navigation-bar {

    justify-content: center;
    gap: 10;
    margin-left: 800px;
    margin-bottom: 30;
    text-decoration: none;

    background-color: #141414;
    position: fixed;
    border-radius: 80px;
    margin-top: 1030px;


}


.navigation-bar a {
    float: left;
    display: block;
    text-align: center;

}

#home {
    text-decoration: none;
    padding: 30px;

    color: white;

    font-size: 120%;
    font-family: Dom;
    justify-content: center;
}

.reservations {
    background-color: gray;
    height: 0.2px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding-bottom: 3px;
}