.body{
    display: flex;
    /* overflow: hidden; */
    /* position: fixed; */
    
}
body{
    position: fixed;
    margin: 0%;
    
}
.kitisuru{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/home\ one.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:45vw;
    width: 50vw;
    color: white;
    text-align: center;
    padding-top: 250px;
   
}
.kitisuru p{
    font-size: 120%;
        


}
.kitisuru h1{
   font-size: 350%; 
   font-family: Dom;

}
.kilimani{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(images/ankole\ img\ one.jpg);
    background-repeat: no-repeat;
    height:2000px;
    width: 50vw;
    color: white;
    text-align: center;
    padding-top: 250px;
    

   
}
.kilimani p{
    font-size: 120%;
        


}
.kilimani h1{
   font-size: 350%; 
   font-family: Dom;

}
.navigation-bar {

    justify-content: center;
    gap: 10;
    margin-left: 600px;
    text-decoration: none;
    background-color: #141414;
    position: fixed;
    border-radius: 80px;
    margin-top: 750px;
    /* position: fixed; */


}


.navigation-bar a {
    float: left;
    display: block;
    text-align: center;

}

#home {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 90%;
    font-family: Dom;
    justify-content: center;
}

.reservations {
    background-color: gray;
    height: 0.2px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding-bottom: 3px;
}


